<footer class="footer position-absolute bottom-2 py-2 w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-md-end">
        <ul class="nav nav-footer mb-0 d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link pe-3" href="https://github.com/Illya-Maznitskiy" target="_blank">
              <i class="fab fa-github text-white text-lg opacity-8"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/illya-maznitskiy-a7a4142a6/" target="_blank">
              <i class="fab fa-linkedin text-white text-lg opacity-8"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
