{% extends "base.html" %}

{% block content %}
  <div style="height: 100px;"></div>

  <div style="text-align: center;">
    <h1 style="margin-bottom: 50px;">Delete the Cook: {{ cook.username }}?</h1>
    <form action="" method="post">
      {% csrf_token %}

      <input type="submit" value="Yes" class="btn btn-danger" style="margin-right: 5px;">
      <a href="{% url 'restaurant_kitchen:cook-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>

  <div style="height: 100px;"></div>
  <div style="height: 200px;"></div>
{% endblock %}
