{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Types of Dishes List
    <a href="{% url 'restaurant_kitchen:dish-type-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🕵">
  </form>
  
  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for type in dish_type_list %}
        <tr>
          <td>{{ type.id }}</td>
          <td><a href="{% url 'restaurant_kitchen:dish-type-detail' pk=type.id %}">{{ type.name }}</a></td>
          <td>
            <a href="{% url 'restaurant_kitchen:dish-type-delete' pk=type.id %}" class="btn btn-danger link-to-page">Delete</a>
            <a href="{% url 'restaurant_kitchen:dish-type-update' pk=type.id %}" class="btn btn-secondary link-to-page">Update</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no types of dishes in the service.</p>
  {% endif %}
{% endblock %}
